snippet eeonly
	![EE Only Feature](../../images/ee-feature-web.png)

snippet image
	![Figure ${1}.x: ${2}](../../images/${3}.png)

snippet rightarrow
	$rarr;

snippet sidebar
	---

	![tip](../../images/01-tip.png)${1}

	---


