[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/ttlib_vim"]
	path = bundle/ttlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/asciidoc-vim"]
	path = bundle/asciidoc-vim
	url = http://github.com/dagwieers/asciidoc-vim.git
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-lucius"]
	path = bundle/vim-lucius
	url = git://github.com/jonathanfilip/vim-lucius
[submodule "bundle/vim-kolor"]
	path = bundle/vim-kolor
	url = git://github.com/zeis/vim-kolor
[submodule "bundle/vim-jellybeans"]
	path = bundle/vim-jellybeans
	url = git://github.com/nanotech/jellybeans.vim
[submodule "bundle/vim-xoria256"]
	path = bundle/vim-xoria256
	url = git://github.com/vim-scripts/xoria256.vim
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/golded"]
	path = bundle/golded
	url = http://github.com/vim-scripts/golded.vim
[submodule "bundle/vim-gradle"]
	path = bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "bundle/todotxt"]
	path = bundle/todotxt
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
