[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/LateX-Box"]
	path = bundle/LateX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
